<h2>Create a celebrity: </h2>

<form method="POST" action="/celebrities/create" class="row g-3">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" required>
  </div>
  <div class="col-md-6">
    <label for="occupation" class="form-label">Occupation</label>
    <input type="text" name="occupation" class="form-control" >
  </div>
  <div class="col-12">
    <label for="catchphrase" class="form-label">Catch Phrase</label>
    <input type="text" name="catchphrase" class="form-control" id="inputAddress" required>
  </div>
 
  <div class="col-md-4">
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>

