<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Let's create a celeb</a>

<a href="/celebrities">View Celebrities</a>

<a href="/movies/create">Do you fancy adding a movie</a>

<a href="/movies">View All Movies</a>
